/* Global Styles */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*:focus {
    outline: none;
}

/* Typography */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #444;
    margin: 0;
    padding: 0;
    background: #F7F7F7;
}
a h1 {
    color: #444;
}
a, a:visited {
    font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #C73479;
}
a:hover, a:active {
    color: #FF8802;
    border-bottom: 0.15rem solid #c73479;
}

a.callout-btn, a.callout-btn:visited {
    color: #fff;
    text-transform: Capitalize;
    font-size: 1.5rem;
    line-height: 280%;
    background: #C73479;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border-bottom: 0.2rem solid #9f3b63;
}
a.callout-btn:hover, a.callout-btn:active {
    text-shadow: 1px 1px 0 #9f3b63;
    border: 0;
}
.error {
    color: red;
    display: block;
    margin: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 135%;
    font-size: 1.5rem;
}

.callout {
    font-size: 2.5rem;
    text-align: center;
}

section {
    background: #ffffff;
}

/* Structure */
.wrapper {
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
.row {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 0;
}
.col {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 1rem;
}
.c20 {
    width: 20%;
}
.c25 {
    width: 25%;
}
.c33 {
    width: 33%;
}
.c50 {
    width: 50%;
}
.c75 {
    width: 75%;
}
.c100 {
    width: 100%;
}
.block {
    display: block;
    width: 100%;
}
/* Media and Imbeds */

img {
    max-width: 100%;
    height: auto;
}
audio, video {
    max-width: 100%;
    height: auto;
}
meter, progress {
    max-width: 100%;
    width: 100%;
    -webkit-appearance: none;
}
meter {
    height: 1.25rem;
}
progress {
    height: 1rem;
}
meter::-webkit-meter-bar {
    background: #F5F5F5;
    border: 1px solid #F8F8F8;
}
meter::-webkit-meter-optimum-value {
    background: #DE8ECC;
    background: -moz-linear-gradient(top, #E68FC9 0%, #E671C9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E68FC9), color-stop(100%, #E671C9));
    background: -webkit-linear-gradient(top, #E68FC9 0%, #E671C9 100%);
    background: -o-linear-gradient(top, #E68FC9 0%, #E671C9 100%);
    background: -ms-linear-gradient(top, #E68FC9 0%, #E671C9 100%);
    background: linear-gradient(to bottom, #E68FC9 0%, #E671C9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E68FC9', endColorstr='#E671C9',GradientType=0);
}
progress::-webkit-progress-bar {
    background: #F5F5F5;
    border: 1px solid #F8F8F8;
    border-radius: 1rem;
}
progress::-webkit-progress-value {
    background: #DE9B43;
    background: -moz-linear-gradient(top, #DE9B43 0%, #DE5E2A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DE9B43), color-stop(100%, #DE5E2A));
    background: -webkit-linear-gradient(top, #DE9B43 0%, #DE5E2A 100%);
    background: -o-linear-gradient(top, #DE9B43 0%, #DE5E2A 100%);
    background: -ms-linear-gradient(top, #DE9B43 0%, #DE5E2A 100%);
    background: linear-gradient(to bottom, #DE9B43 0%, #DE5E2A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE9B43', endColorstr='#DE5E2A',GradientType=0);
}

iframe {
    border: 1px solid #EFEFEF;
    max-width: 100%;
    height: auto;
}

/* Forms */
fieldset {
    border: 1px solid #EFEFEF;
}
legend {
    color: #868686;
}
label, input {
    font-size: 0.8rem;
}
label {
    margin-right: 0.25rem;
    font-weight: bold;
}
select {
    font-size: 1rem;
}
input {
    border: 0;
    font-size: 1.5rem;
    background: #f7f7f7;
    padding: 0.5rem;
    width: 100%;
}
input[type="date"], input[type="datetime-local"], input[type="month"],
input[type="time"], input[type="week"], input[type='submit'], input[type='reset'], button {
    font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
input[type='submit'], input[type='reset'], button {
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF8802;
    padding: 0.5rem 1rem;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 0.25rem;
    background: #FBF2DF;
    border-bottom: 0.15rem solid rgb(255, 223, 188);
    width: auto;
}
input[type='submit']:hover {
    cursor: pointer;
    background: #FFDFBC;
    text-shadow: 1px 1px 0 #FBF2DF;
    border-bottom: 0.1rem solid #FBF2DF;
    box-shadow: inset 0.1rem 0.1rem 0 #FF9012;
    -webkit-box-shadow: inset 0.1rem 0.1rem 0 #e8caaa;
    margin-bottom: 0.1rem;
}
textarea, select {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    background: #f7f7f7;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
#new-event textarea {
    min-height: 10rem;
}

/* Helper Classes */
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.justfy {
    text-align: justify;
}
mark {
    background-color: #FFFDA8;
    color: inherit;
}
/* Navigation */
.navigation, .menu {
    padding: 0;
    margin: 0;
}
.menu {
    list-style: none;
    margin-top: 1.25rem;
}
.menu li {
    display: inline-block;
    font-size: 1.25rem;
}
.menu li a {
    padding: 0.5rem 1rem;
}
.menu li a:hover {
    text-shadow: 1px 1px 0 #fff;
    border-radius: 0.25rem;
    background: #FBF2DF;
    border-bottom: 0.15rem solid rgb(255, 223, 188);
}


.footer p {
    font-size: 1rem;
}